# Optional configuration for webhook relay
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1543729549236240518/nBwW2gNgFFdk1t7FWygp39XKdCPGpyAI967BZcume3YPhl4YpNmtrasIgwArELL1-AjH

# Cloudflare Turnstile bot protection (Optional)
CLOUDFLARE_TURNSTILE_SECRET_KEY=

# Allowed domains for CORS / Origin validation (Comma-separated or left blank for same-host)
ALLOWED_ORIGIN=https://course-organizer-nine.vercel.app
